.goBackLink {
    border: 1 solid;
    border-radius: 4px;
    text-decoration: none;
    color: rgb(39, 25, 25);  
    background: linear-gradient(90deg, rgba(0,0,0,1) 3%, rgba(255,255,255,1) 99%);
    color: brown;
    padding: 4px;
    align-items: baseline;
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
    width: 150px;
   margin: 20px;
}

.detailsPage {
    display: flex;
    gap: 20px;
    max-width: 1360px;    
    background: linear-gradient(90deg, rgb(19, 18, 18) 3%, rgba(255,255,255,1) 99%);     
      
}
.about {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 500px;
    padding-left: 20px;
    padding-right: 20px;

}
.img {
    max-width: 600px;
    padding-left: 20px;
}
.additional {
    margin-left: 20px;
    align-items: flex-start;
}
.infoLink {
    list-style-type: none;
    text-decoration: none; 
    color: black;
    font-weight: 500;
}
ul  {
    list-style-type: none;
    text-decoration: none; 
    color: black;
    font-weight: 500;
}
@media screen and (max-width: 767px) {
    .detailsPage {
        flex-direction: column;       
          
    }
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .goBackLink {
        align-items: center;
    }
    .additional {
        display: flex;
        flex-direction: column;
        align-items: f; 
        padding-left: 20px;      
    }
    .infoList {
        display: flex;
        flex-direction: column;
        gap: 20px;
        list-style-type:disc;
    }
}
