.container {
    display: flex;
    flex-direction: column;
   
}

.movieList {
    list-style-type: square;
    margin-left: 20px;
}

.link {
    text-decoration: none;
    color: rgb(39, 25, 25);    
    text-decoration: none;
}